* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none; }

body {
  overflow-x: hidden;
  width: 100vw; }

html {
  width: 100vw; }

main {
  display: grid;
  grid-template-rows: 95vh auto; }

.background--darkblue {
  background-color: #003555; }

.background--brightblue {
  background-color: #1c7293; }

.background--yellow {
  background-color: #f6ae2d; }

h1 {
  color: #1c7293;
  font-family: "Fredericka the Great", cursive; }

.font--mainheader {
  font-size: 24px;
  color: #ffffff;
  text-shadow: 2.5px 2.5px 6px rgba(0, 0, 0, 0.52);
  text-align: center;
  padding: 10px 0; }

.font--maintext {
  font-size: 18px;
  color: #003555;
  font-family: "Open Sans", sans-serif; }

.font--bigtext {
  font-size: 24px;
  color: #003555;
  font-family: "Open Sans", sans-serif; }

.font--boldheader {
  font-size: 24px;
  font-weight: 700;
  color: #003555;
  font-family: "Open Sans", sans-serif; }

@media screen and (min-width: 769px) {
  h1 {
    color: #1c7293;
    font-family: "Fredericka the Great", cursive; }
  .font--mainheader {
    font-size: 72px;
    color: #ffffff;
    text-shadow: 2.5px 2.5px 6px rgba(0, 0, 0, 0.52); }
  .font--maintext {
    font-size: 24px;
    color: #003555; }
  .font--bigtext {
    font-size: 36px;
    color: #003555; }
  .font--boldheader {
    font-size: 36px;
    font-weight: 700;
    color: #003555; } }

.font--whitecolor {
  color: white; }

.menu {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 0 2%; }

.menu__logo {
  width: 10%;
  display: grid;
  align-items: center;
  z-index: 5; }

.menu__logo img {
  width: 100%; }

.menu__icon {
  width: 50%;
  height: 100%;
  margin-top: 30%; }

.menu__icon span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

.active span:first-child {
  transform-origin: 0% 0%; }

.active span:nth-last-child(2) {
  transform-origin: 0% 100%; }

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.active span {
  opacity: 1;
  transform: rotate(-45deg) translate(-9px, -1px);
  background: white; }

/*
 * But let's hide the middle one.
 */
.active span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

/*
 * Ohyeah and the last one should go the other direction
 */
.active span:nth-last-child(2) {
  transform: rotate(45deg) translate(-7px, -1px); }

nav {
  display: grid;
  justify-items: end; }

.menu__navigation {
  position: relative;
  right: -150%;
  top: 0;
  width: 140%;
  height: 100vh;
  transition: 0.6s;
  z-index: 10; }

.menu__navigation--active {
  right: -10%; }

.navigation__item {
  margin: 20% 10%; }

.navigation__link {
  color: white;
  margin: 0 auto; }

@media screen and (min-width: 769px) {
  .menu {
    height: 6vh; }
  .menu__logo img {
    width: 75%;
    position: relative;
    top: 20px;
    left: 15px; }
  .menu__icon {
    display: none; }
  .menu__navigation {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    position: static;
    height: auto;
    width: auto; }
  .navigation__item {
    margin: 0;
    display: flex;
    align-items: center; } }

.splash {
  width: 100vw;
  height: 85vh;
  display: grid;
  grid-template-rows: 67% 45%; }

.splash__images {
  display: grid;
  overflow: hidden; }

.images {
  grid-column: 1/1;
  grid-row: 1/1;
  display: flex;
  flex-wrap: nowrap; }

.splash__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s ease-out; }

.splash__triangle {
  grid-column: 1/1;
  grid-row: 1/1;
  z-index: 5;
  justify-self: end;
  align-self: end; }

.splash__svg {
  width: 130%;
  position: relative;
  right: 30%;
  top: 1.5%; }

.splash__triangle img {
  width: 50%; }

.splash__content {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 80%;
  margin: 10px auto; }

.splash__content i {
  font-size: 40px;
  animation: movearrow 2s infinite;
  position: relative; }

@keyframes movearrow {
  0% {
    top: 0px; }
  50% {
    top: 5px; }
  100% {
    top: 0px; } }

@media screen and (min-width: 769px) {
  .splash {
    height: 67vh;
    grid-template-rows: 67.7% 74%; }
  .splash__content {
    width: 40%;
    margin: 6px auto; }
  .splash__svg {
    width: 150%;
    right: 50%;
    top: -19.5%; } }

.content__box {
  width: 100vw;
  min-height: 40vh;
  height: auto; }

.content__imagebox {
  width: 100%;
  height: 250px;
  position: relative; }

.content__image {
  height: 100%; }

.content__info {
  width: 100%;
  display: grid;
  padding: 15px; }

.content__cta {
  border: none;
  border-radius: 3px;
  padding: 2.5% 0;
  margin: 5% 0;
  color: white; }

.triangle__figure {
  position: absolute;
  bottom: 0;
  width: 80%; }

.focus--left .triangle__figure {
  left: 0; }

.focus--right .triangle__figure {
  right: 0; }

@media screen and (min-width: 769px) {
  .content__box {
    display: flex;
    height: 40vh; }
  .content__imagebox {
    width: 50%;
    height: 100%; }
  .focus--left .content__imagebox {
    order: 1; }
  .focus--right .content__imagebox {
    order: 2; }
  .focus--left .content__info {
    order: 2; }
  .focus--right .content__infos {
    order: 1; }
  .content__image {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .content__info {
    width: 50%; }
  .content__cta {
    border: none;
    height: 50%;
    width: 25%;
    align-self: center;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    color: white;
    justify-self: center; } }

html {
  scroll-behavior: smooth; }

footer {
  width: 100vw;
  height: 50vh;
  padding: 30px 15px; }

footer figure {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30%; }

footer figure a {
  color: white; }

footer figure i {
  font-size: 70px; }

@media screen and (min-width: 769px) {
  footer figure {
    margin: 0;
    width: 20%;
    align-items: center; }
  footer address {
    width: 70%;
    display: grid; }
  footer {
    display: flex; }
  footer h4 {
    align-self: end; } }
