* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none; }

body {
  overflow-x: hidden;
  width: 100vw; }

html {
  width: 100vw; }

.background--darkblue {
  background-color: #003555; }

.background--brightblue {
  background-color: #1c7293; }

.background--yellow {
  background-color: #f6ae2d; }

h1 {
  color: #1c7293;
  font-family: "Fredericka the Great", cursive; }

.font--mainheader {
  font-size: 24px;
  color: #ffffff;
  text-shadow: 2.5 2.5 6 rgba(0, 0, 0, 0.52); }

.font--maintext {
  font-size: 18px;
  color: #003555; }

.font--bigtext {
  font-size: 24px;
  color: #003555; }

.font--boldheader {
  font-size: 24px;
  font-weight: 700;
  color: #003555; }

@media screen and (min-width: 769px) {
  h1 {
    color: #1c7293;
    font-family: "Fredericka the Great", cursive; }
  .font--mainheader {
    font-size: 72px;
    color: #ffffff;
    text-shadow: 2.5 2.5 6 rgba(0, 0, 0, 0.52); }
  .font--maintext {
    font-size: 24px;
    color: #003555; }
  .font--bigtext {
    font-size: 36px;
    color: #003555; }
  .font--boldheader {
    font-size: 36px;
    font-weight: 700;
    color: #003555; } }

.menu {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 0 2%; }

.menu__logo {
  width: 10%;
  display: grid;
  align-items: center;
  z-index: 5; }

.menu__logo img {
  width: 100%; }

.menu__icon {
  width: 44%;
  height: 100%; }

nav {
  display: grid;
  justify-items: end; }

.menu__navigation {
  position: relative;
  right: -140%;
  top: 0;
  width: 100%;
  height: 90vh;
  transition: 0.6s; }

.menu__navigation--active {
  right: -10%; }

.navigation__item {
  margin: 20% 10%; }

.navigation__link {
  color: white; }

@media screen and (min-width: 769px) {
  .menu {
    height: 10vh; }
  .menu__logo img {
    width: 75%;
    position: relative;
    top: 20px;
    left: 15px; }
  .menu__icon {
    display: none; }
  .menu__navigation {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    position: static;
    height: auto;
    width: auto; }
  .navigation__item {
    margin: 0;
    justify-self: center;
    display: flex;
    align-items: center; } }

.splash {
  width: 100vw;
  height: 85vh;
  display: grid;
  grid-template-rows: 67% 45%; }

.splash__images {
  display: grid;
  overflow-x: hidden; }

.images {
  grid-column: 1/1;
  grid-row: 1/1;
  display: flex;
  flex-wrap: nowrap; }

.splash__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s ease-out; }

.splash__triangle {
  grid-column: 1/1;
  grid-row: 1/1;
  z-index: 5;
  justify-self: end;
  align-self: end; }

.splash__svg {
  width: 130%;
  position: relative;
  right: 30%;
  top: 1.5%; }

.splash__triangle img {
  width: 50%; }

.splash__content {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 80%;
  margin: 10px auto; }

@media screen and (min-width: 769px) {
  .splash__content {
    width: 40%; }
  .splash__svg {
    width: 150%;
    right: 50%; } }
