.content__box {
  width: 100vw;
  min-height: 40vh;
  height: auto;
  transition: 1.5s;
}

.content--hidden {
  transform: translateX(30px);
  opacity: 0;
}

.content--hidden:nth-child(even) {
  transform: translateX(-30px);
}

.content__imagebox {
  width: 100%;
  height: 250px;
  position: relative;
}

.content__image {
  height: 100%;
}

.content__info {
  width: 100%;
  display: grid;
  padding: 15px;
}

.content__cta {
  border: none;
  border-radius: 3px;
  padding: 2.5% 0;
  margin: 5% auto;
  color: white;
  z-index: 100;
  width: 75%;
}

.triangle__figure {
  position: absolute;
  bottom: 0;
  width: 40%;
}

.focus--left .triangle__figure {
  left: 0;
}

.focus--right .triangle__figure {
  right: 0;
}

@media screen and (min-width: 769px) {
  .content__box {
    display: flex;
    height: 40vh;
  }

  .triangle__figure {
    width: 80%;
  }

  .content__junk {
    height: 40vh;
    width: 100vw;
    z-index: 50;
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    background-color: blue;
    opacity: 0;
  }

  .content__imagebox {
    width: 50%;
    height: 100%;
  }

  .focus--left .content__imagebox {
    order: 1;
  }

  .focus--right .content__imagebox {
    order: 2;
  }

  .focus--left .content__info {
    order: 2;
  }

  .focus--right .content__infos {
    order: 1;
  }

  .content__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .content__info {
    width: 50%;
    padding: 40px;
  }

  .content__cta {
    border: none;
    height: 65%;
    width: 25%;
    align-self: center;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    color: white;
    justify-self: center;
  }
}
